<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %> 

    <body>

        <%- include('partials/header') %> 
        
        <div>
            <div class="first-four"><%= errorCode.toString().charAt(0) %></div>
            <div class="last-four"><%= errorCode.toString().charAt(2) %></div>
            <div class="not-found"><%= errorMessage %></div>
            <div class="ghost">
            <div class="ghost__body">
                <div class="eyes"></div>
                <div class="blush"></div>
                <div class="hand"></div>
                <div class="wavy-container">
                <div class="wavy"></div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>