<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %> 

    <script defer>
        const generateAPIKey = () => {

            $.ajax({
                type: 'PATCH',
                url: './profile/apikey',
                data: {
                    expire: false
                },
                success: (response) => {
                    
                    return response.error ? console.log(response.error) : $('.generate-api-key input').val(response.apiKey);
                }
            })
        };

        const copyAPIKey = () => {

            $('.generate-api-key input').select();
            $('div.copied').toggleClass('active');
            
            setTimeout(() => {
                $('div.copied').toggleClass('active');
            }, 3000);

            return document.execCommand('copy');
        };

        const openUpload = () => {

            return $('#avatar-file').trigger('click');
        };

        const changeAvatarRequest = () => {
            const IMAGE_DATA = new FormData();
            const IMAGE_FILE = $('#avatar-file').prop('files')[0];


            IMAGE_DATA.append('image', IMAGE_FILE);

            $.ajax({
                type: 'POST',
                url: '/image/upload',
                data: IMAGE_DATA,
                contentType: false,
                processData: false,
                cache: false,

                success: (response) => {

                    console.log('Image uploaded successfully');
                }
            })
        }
    </script>
    <body>

        <%- include('partials/header') %>
        <div id="profile-flex">
            <div id="account-settings">
                <div id="profile-settings">
                    <h4>Profile</h4>
                    <div class="change-prof-container">
                        <div class="edit-avatar">
                            <div class="avatar-wrapper">
                                <div class="upload-avatar">
                                    <input type="file" id="avatar-file" style="display: none;" onchange="changeAvatarRequest()">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" onclick="openUpload()">
                                        <ellipse stroke="null" ry="175.6757" rx="150.54055" id="svg_8" cy="244.54053" cx="249.67572" fill="#00c9a7"/>
                                        <path fill="#0c0c0c" class="au-svg" d="m256,512c141.4,0 256,-114.6 256,-256s-114.6,-256 -256,-256s-256,114.6 -256,256s114.6,256 256,256zm129,-297c9.4,9.4 9.4,24.6 0,33.9s-24.6,9.4 -33.9,0l-71,-71l0,214.1c0,13.3 -10.7,24 -24,24s-24,-10.7 -24,-24l0,-214.1l-71,71c-9.4,9.4 -24.6,9.4 -33.9,0s-9.4,-24.6 0,-33.9l111.8,-112c9.4,-9.4 24.6,-9.4 33.9,0l112.1,112z"/>
                                    </svg>
                                </div>
                                <img src="<%= avatar %>">
                            </div>
                            <p>Profile Avatar</p>
                        </div>
                        <div class="edit-display">
                            <table>
                                <th>
                                    <tr><%= displayName %> </tr>
                                </th>
                                <tr>
                                    <td>Total Uploads:</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>API Calls:</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Unique Visitors:</td>
                                    <td>0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="password-settings">
                    <h4>Change Password</h4>
                    <div class="change-pw-container">
                        <form action="#">
                            <input type="password" placeholder="Old Password">
                            <input type="password" placeholder="New Password">
                            <input type="password" placeholder="Confirm New Password">
                            <input type="submit" placeholder="Save">
                        </form>
                    </div>
                </div>
                <div id="api-settings">
                    <h4>API</h4>
                    <div class="api-container">
                        <p class="api-p">Current API Key</p>
                        <div class="generate-api-key">
                            <div class="generate"><button onclick="generateAPIKey()">Generate Key</button></div>
                            <input type="text" onclick="copyAPIKey()" value="<%= apiKey %> " readonly>
                        </div>
                        <p>Refer to the <a href="#">API Documentation </a>for usage.</p>
                        <div class="copied"><p>API Key Copied!</p></div>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('partials/footer') %> 
        
    </body>
</html>